<form autocomplete="off">
	<!-- Navigation -->
	<nav class="tabs" data-group="primary">
		<a class="item" data-tab="members">Members</a>
		<a class="item" data-tab="donations">Donations</a>
        {{#if admin}}<a class="item" data-tab="server">Server</a>{{/if}}
	</nav>

    <!-- Members Tab -->
	<div class="tab" data-group="primary" data-tab="members">
		<div class="table">
            <table id="members">
                <thead>
                    <tr>
                        <th>Last login</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Membership</th>
                        <th>Donations ({{period}})</th>
                        <th>Donations (all-time)</th>
                        <th style="min-width: 25px;"><a title="Configure membership" class="fas fa-cog" data-action="members-config"></a></th>
                    </tr>
                </thead>
                <tbody style="text-align: center">
                    {{#each members}}
                    <tr>
                        <td>{{last_login}}</td>
                        <td style="font-weight:bold">{{name}}</td>
                        <td title="{{email}}">{{email}}</td>
                        <td {{#if special_membership}}title="This user has special membership set"{{else}}title="{{membership}}"{{/if}}>{{membership}}{{#if special_membership}}*{{/if}}</td>
                        <td>{{donatedParsed}}</td>
                        <td>{{donatedAllParsed}}</td>
                        <td>
                            <a title="View donations" class="fas fa-eye" data-action="view-member" data-entry="{{email}}"></a>
                            {{#if id}}
                            <a title="Special membership" class="fas fa-book{{#if special_membership}}-open{{/if}}" data-action="special-membership" data-entry="{{id}}"></a>
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <hr>
        <div class="summary">
            <span>Members active ({{period}}): <b>{{summary.membersLastPeriod}}</b></span>
            <span>Members donated ({{period}}): <b>{{summary.membersDonatedLastPeriod}}</b></span>
            <span>Members total: <b>{{summary.membersTotal}}</b></span>
        </div>
	</div>

    <!-- Donations Tab -->
	<div class="tab" data-group="primary" data-tab="donations">
        <div class="table">
            <table id="donations">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Email</th>
                        <th>Amount</th>
                        <th>Currency</th>
                        <th>Source</th>
                        <th>Comment</th>
                        <th>Modified at</th>
                        <th>Modified by</th>
                        <th style="min-width: 20px;"><a title="Create" class="fa fa-plus" data-action="add-donation"></a></th>
                    </tr>
                </thead>
                <tbody style="text-align: center">
                    {{#each donations}}
                    <tr {{#if (lt amount_value 0)}}class="refund"{{/if}}
                        {{#if is_refunded}}class="refunded"{{/if}}>
                        <td>{{timestamp}}</td>
                        <td style="font-weight:bold;" title="{{email}}">{{#if anonymous}}&lt;anonymous&gt;{{else}}{{email}}{{/if}}</td>
                        <td>{{amount}}</td>
                        <td>{{currency}}</td>
                        <td>{{source}}</td>
                        <td style="max-width:250px;" title="{{comment}}">{{comment}}</td>
                        <td>{{last_modified_at}}</td>
                        <td>{{last_modified_by}}</td>
                        <td data-email="{{email}}" data-id="{{id}}" data-type="{{type}}">
                            {{#if mutate}}
                                {{#if can_refund}}<a title="Refund" class="fa fa-left" data-action="refund-donation"></a>{{/if}}
                                {{#if can_modify}}
                                <a title="Modify" class="fa fa-list" data-action="modify-donation"></a>
                                <a title="Remove" class="fa fa-close" data-action="remove-donation"></a>
                                {{/if}}
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <hr>
        <div class="summary">
            <span>Donations ({{period}}): <b>{{summary.donationsLastPeriod}}</b></span>
            <span>Donations total: <b>{{summary.donationsTotal}}</b></span>
        </div>
        <div class="footer-buttons">
            <button type="button" data-action="import-kofi"><i class="far fa-table"></i> Import Kofi CSV</button>
        </div>
    </div>

    <!-- Server Tab -->
	<div class="tab" data-group="primary" data-tab="server">
        <p style="text-align:center;width:50%;margin-left: 25%;"><span style="color:red;font-weight:bold">CAUTION: </span>Operations done here might be irreversible.</p>
        <hr>
        <div class="footer-buttons">
            <button type="button" data-action="update"><i class="far fa-radar"></i> Check for Updates</button>
            <button type="button" data-action="restart"><i class="far fa-server"></i> Restart Server</button>
            <button type="button" data-action="upload-config"><i class="far fa-upload"></i> Upload new Configuration</button>
        </div>
    </div>
</form>
