<form autocomplete="off">
	<!-- Navigation -->
	<nav class="tabs" data-group="primary" style="display: none">
		<a class="item" data-tab="main"> 1</a>
		<a class="item" data-tab="confirmation"> 2</a>
		<a class="item" data-tab="finish"> 3</a>
	</nav>

	<!-- Send Email Tab -->
	<div class="tab" data-group="primary" data-tab="main">
		{{#if expired}}
		<p>Your session has expired.</p>
		<p>Please login with your email:</p>
		{{else}}
		<p>There are no emails linked to your account.</p>
		<p>Please enter your email to register:</p>
		{{/if}}
		<input
			name="email"
			class="send-email"
			type="text"
			pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
			required />

		<!-- FOOTER BUTTONS -->
		<div class="footer-buttons">
			<button id="email" type="button" data-action="send-email"><i class="far fa-envelope"></i> Send Code</button>
		</div>
	</div>

	<!-- Confirmation Tab -->
	<div class="tab" data-group="primary" data-tab="confirmation">
		<p>Please enter the code you received in your email:</p>
		<input name="code" class="confirm-code" type="text" pattern="[a-zA-Z0-9_-]{6}" maxlength="6" size="15" required />

		<!-- FOOTER BUTTONS -->
		<div class="footer-buttons">
            <button type="button" data-action="logout"><i class="far fa-left-long-to-line"></i> Go Back</button>
			<button id="email" type="button" data-action="send-email"><i class="far fa-envelope-dot"></i> Resend Code</button>
			<button id="code" type="button" data-action="confirm-code">
				<i class="far fa-envelope-circle-check"></i> Confirm Code
			</button>
		</div>
	</div>

	<!-- Confirmation Tab -->
	<div class="tab" data-group="primary" data-tab="finish">
		<p>You have registered an account for:</p>
		<div class="form-group">
			<label>Email</label>
			<input id="account-email" type="text" value="{{email}}" disabled />
		</div>
		<div class="form-group">
			<label>User</label>
			<input id="account-name" type="text" value="{{name}}" disabled />
		</div>
		<div class="form-group">
			<label>Membership</label>
			<input id="account-membership" type="text" value="{{membership}}" disabled />
		</div>

        {{#if donation_link.length}}
        <p>Checkout our options on how to become a member:</p>
        <div style="height: 25px;display: inline-flex;"">
            {{#each donation_link}}
            <a href="{{link}}">
                <img src="{{img}}" style="border: none;">
            </a>
            {{/each}}
        </div>
        {{/if}}

		<!-- FOOTER BUTTONS -->
		<div class="footer-buttons">
			<button type="button" data-action="logout"><i class="far fa-undo"></i> Log out</button>
			<button type="button" data-action="close"><i class="far fa-close"></i> Close</button>
		</div>
	</div>
</form>
